.section{
     font-family: 'Urbanist', sans-serif;
     font-weight: bold;
     font-size: 45px;
     text-align: center;
  
    background-size: cover;
    height: 90vh;
     width: 100%;
    background: linear-gradient(-25deg, #50a7db, #50a7db, rgb(36, 146, 180), #50a7db);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
      }
      @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.title{
    padding-top: 25px;
    margin-bottom: 45px;
    color: darkblue !important;
}
.icon{
    
    padding: 10px;
    padding-left: 25px;
}
.icon1:hover{

 width: 550px;
 
}

.first{
    display: inline-flex;
    font-size: 20px;
}
.second{
    font-size: 20px;
    display: inline;
}
.third{
     font-size: 20px;
     display: inline;
}
.footer{

    font-size: 15px;
    color: black;
    padding-top: 400px;
}