.section{
     font-family: 'Urbanist', sans-serif;
     font-weight: bold;
     font-size: 45px;
     text-align: center;
  
    background-size: cover;
    height: 100vh;
     width: 100%;
    background: linear-gradient(-25deg, #50a7db, #50a7db, white, #50a7db);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
      }
      @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.title{
    padding-top: 25px;
    margin-bottom: 45px;
    color: darkblue !important;
}
.icon{
    
    padding: 10px;
    padding-left: 45px;
}
.description{
    color: darkblue !important;
    font-weight: bold;
}